<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="container">

<div class=" w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <h3 style="color: black;" class="xxx-large text-grey publicTitle"><b> Funding </b></h3>
  <!-- <p style="color: black"> See our publications at the top magazines </p> -->
</div>
<!--here publications starts-->

<!--5 line of software/data-->
<div class="row">
    <a href="https://cordis.europa.eu/project/id/101115639">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/erc.jpg"
                 alt="most"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>European Research Council (ERC) STG</b></h6>
              <p class="card-text">
                Role: Sole PI 
              </p>
              <p class="card-text">
                <em> 2024 - 2029 (60 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
<!--4 line of software/data-->
<div class="row">
    <a href="https://www.gov.il/en/departments/ministry_of_science_and_technology/govil-landing-page">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/most.jpg"
                 alt="most"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Israel Ministry of Science and Technology (MOST)</b></h6>
              <p class="card-text">
                Role: Co-Investigator (PIs: Dr. Eli Karniel, Prof. Mickey Scheinowitz)
              </p>
              <p class="card-text">
                <em> 2024 - 2026 (36 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  <!--4 line of software/data-->
<div class="row">
    <a href="https://en-med.tau.ac.il/">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/halperin.jpg"
                 alt="most"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Halperin-Bernstein Esther Fund</b></h6>
              <p class="card-text">
                Role: Co-Investigator (PI: Prof. Dafna Ben Bashat)
              </p>
              <p class="card-text">
                <em> 2024 - 2025 (18 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  
  
<!--3 line of software/data-->
<div class="row">
    <a href="https://www.gov.il/en/departments/ministry_of_science_and_technology/govil-landing-page">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/most.jpg"
                 alt="most"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Israel Ministry of Science and Technology (MOST)</b></h6>
              <p class="card-text">
                Role: Sole PI
              </p>
              <p class="card-text">
                <em> 2023 - 2025 (36 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  

<!--2 line of software/data-->
<div class="row">
    <a href="https://datascience.tau.ac.il/">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/tad.jpg"
                 alt="tad"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>The Blavatnik Artificial Intelligence and Data Science Fund</b></h6>
              <p class="card-text">
                Role: PI (with Prof. Gil Navon)
              </p>
              <p class="card-text">
                <em>  2023 - 2024 (24 Months)  </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  



<!--1 line of software/data-->
<div class="row">
    <a href="https://cordis.europa.eu/project/id/836752">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/msca.jpg"
                 alt="msca"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>European Union's Horizon 2020 - Marie Sklodowska-Curie Global Fellowship</b></h6>
              <p class="card-text">
                 Role: Sole PI
              </p>
              <p class="card-text">
                <em>  2019 - 2023 (36 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  
  
</div>



</body>
