<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="container">

<div class=" w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <h3 style="color: black;" class="xxx-large text-grey publicTitle"><b> Open Code, Data & Preprints </b></h3>
  <!-- <p style="color: black"> See our publications at the top magazines </p> -->
</div>
<!--here publications starts-->

<!--9 line of software/data-->
<div class="row">
    <a href="https://github.com/momentum-laboratory">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/github_logo.jpeg"
                 alt="lab github"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Code & Data</b></h6>
              <p class="card-text">
                Momentum Lab Github Repository
              </p>
              <p class="card-text">
                <em> Code and Data Associated with the Lab Publications </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>


<!--5 line of software/data-->
<div class="row">
    <a href="https://doi.org/10.6084/m9.figshare.20346369">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/figshare_logo.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Code & Data</b></h6>
              <p class="card-text">
                Trained Generative Adversarial Networks (GANs) for Accelerating Quantitative Molecular MRI
              </p>
              <p class="card-text">
                <em>  Fully Trained Models for Phantom, Brain, and Leg Imaging as well as In Vitro Datasets </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  

   

   
<!--4st line of software/data-->
<div class="row">
    <a href="https://figshare.com/articles/dataset/MRI_datasets_used_in_the_manuscript_Dynamic_and_Rapid_Deep_Synthesis_of_Molecular_MRI_Signals_/23289800">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/figshare_logo.jpg"
                 alt="deep-simulator"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Data</b></h6>
              <p class="card-text">
                MRI Datasets Used in the deep synthesis of CEST and MT signals paper
              </p>
              <p class="card-text">
                <em>  L-arginine, Brain MT mouse data, acquired at 9.4T </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
   
   
<!--3st line of software/data-->
<div class="row">
    <a href="https://doi.org/10.6084/m9.figshare.14877765">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/figshare_logo.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Data</b></h6>
              <p class="card-text">
                MRI Datasets Used in the AutoCEST Paper
              </p>
              <p class="card-text">
                <em>  BSA, Iohexol, L-arginine, Phosphocreatine, and 3 In-Vitro Datasets </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  
  <!--2nd line of software/data-->
<div class="row">
    <a href="https://arxiv.org/search/?searchtype=author&query=Perlman%2C+O">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/arxiv_logo.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Preprints</b></h6>
              <p class="card-text">
                arXiv Preprints From Our Group
              </p>
              <p class="card-text">
                <em>  Additional Open Access Final Version Papers Can be Found in the Publications Tab  </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  
  

  
    <!--1st line of software/data-->
<div class="row">
    <a href="https://www.biorxiv.org/search/author1%3Aor%2Bperlman%20jcode%3Abiorxiv%20numresults%3A10%20sort%3Arelevance-rank%20format_result%3Astandard">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/biorxiv_logo.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Preprints</b></h6>
              <p class="card-text">
                bioRxiv Preprints From Our Group
              </p>
              <p class="card-text">
                <em>  Additional Open Access Final Version Papers Can be Found in the Publications Tab  </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  
    <!--oth line of software/data-->
<div class="row">
    <a href="https://www.researchsquare.com/browse?author=or%20perlman&offset=0&status=all">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/software_images/research_square_logo.jpg"
                 alt="research_square"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Preprints</b></h6>
              <p class="card-text">
                Research Square Preprints From Our Group
              </p>
              <p class="card-text">
                <em>  Additional Open Access Final Version Papers Can be Found in the Publications Tab  </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  
  
</div>

<footer class="w3-container w3-black w3-center w3-margin-top">
  <p style="font-size: small">Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>

</body>
