<nav class="navbar">
  <div class="brand-title">Logo University</div>
  <a (click)="clickBurger()" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Research</a></li>
      <li><a href="publications">Publications</a></li>
      <li><a href="#">The Team</a></li>
      <li><a href="#">Open Positions</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
