<nav class="navbar">
  <div class="brand-title">
    <a href="http://localhost:4200/">
      <img src="assets/images/tau_en_transparent_text_white_v2.png" style="width:208px;height:88px;object-fit:cover;object-position:50% 50%">
    </a>
  </div>
  <a (click)="clickBurger()" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div [style.display]="this.getBurgerStatus() && isSmallWindow()? 'none' : 'flex' " class="navbar-links">
    <ul>
      <li ><a (click)="clickBurger()" routerLink="home">Home</a></li>
      <li ><a (click)="clickBurger()" routerLink="research">Research</a></li>
      <li><a (click)="clickBurger()" routerLink="publications">Publications</a></li>
<!--      <li><a (click)="clickBurger()" routerLink="software">Software</a></li>-->
      <li><a (click)="clickBurger()" routerLink="team">The Team</a></li>
      <li><a (click)="clickBurger()" routerLink="careers">Open Positions</a></li>
      <li><a (click)="clickBurger()" routerLink="contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
