<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<body>
<section class="contact" id="contact" style="padding-top: 10%">
  <div class="container">
    <div class="contact-heading">
<!--   header title   -->
      <h3>Contact us</h3>
    </div>
    <div class="contact-grids">
      <div class=" col-md-6 contact-form">
      </div>
<!--   google maps map   -->
      <div class=" col-md-6 map">
        <iframe width="600" height="450" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJS0SCLWVJHRURQsBOLrIjlgE&key=AIzaSyB7nR1mbT0--BkKc9rs_Fa0eQF6tYc1kFI" allowfullscreen></iframe>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="contact-grids">
      <div class=" col-md-6 contact-form">
      </div>
      <div class=" col-md-6">
<!--    card of contact info    -->
    <div class="card mt-3">
      <ul class="list-group list-group-flush">
<!--    email    -->
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0"><i style="font-size: x-large; padding-right: 10px" class="las la-envelope"></i>Email</h6>
          <span class="text-secondary">operlman@mgh.harvard.edu</span>
        </li>
<!--    phone    -->
        <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0"><i style="font-size: x-large; padding-right: 10px" class="las la-phone-volume"></i>Phone</h6>
          <span class="text-secondary">12-3456789</span>
        </li> -->
<!--    location    -->
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0"><i style="font-size: x-large; padding-right: 10px" class="las la-map-marker"></i>Location</h6>
          <span class="text-secondary">Multi-disciplinary Research Building (203), 4th floor </span>
        </li>
      </ul>
    </div>
  </div>
    </div>
  </div>


</section>
</body>

