<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--Or section-->
<section class="our-team" style="padding-top: 12%">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Meet Our Team</h2>
        <br>
        <div class="col-lg-3 col-md-6 center">
          <div class="member">
            <img src="assets/images/or.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-detail">
                <h4>Or Perlman</h4>
                <span>Principal Investigator</span>
              </div>
              <div class="social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <p>Bootstrap 4 our team section source code we can use it for our clients, customers, testimonials, and any types of the section where we want to describe our people who are working with us</p>
      </div>
    </div>
    <hr class="mt-5">
  </div>
</section>
<!-- Our Team Section -->
<section class="our-team" >
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/or.jpg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Or Perlman</h4>
              <span>Principal Investigator</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/morty.jpg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Morty</h4>
              <span>Msc Student</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/ppg.jpeg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Bellota</h4>
              <span>MSc Student</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/rick.jpg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Rick</h4>
              <span>Lab Manager</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 2nd row - Our Team Section -->
<section class="our-team" >
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/or.jpg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Or Perlman</h4>
              <span>Principal Investigator</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/morty.jpg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Morty</h4>
              <span>Msc Student</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/ppg.jpeg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Bellota</h4>
              <span>MSc Student</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/images/rick.jpg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Rick</h4>
              <span>Lab Manager</span>
            </div>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Our Team Section -->
</body>
</html>
