<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<nav class="navbar">
  <div class="brand-title">Brand Name</div>
  <a (click)="isOverlayDisplayed = !isOverlayDisplayed" href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Research</a></li>
      <li><a href="#">Publications</a></li>
      <li><a href="#">The Team</a></li>
      <li><a href="#">Open Positions</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>

<body class="w3-white">


<div class="w3-container w3-stretch" style="backgrund-color: black">
<img class="image_image" src="assets/images/Croped_Brain_3D_Width_4_to_1_Height.jpg" style="position: center; padding-top: 10%; width: 100%; height: 50%;" alt="Avatar">
<div [style.display]="this.isOverlayDisplayed? 'flex' : 'none' " class="image_overlay">
  <div class="image_title"><h1>LABRT</h1></div>
  <p class="image_description">Here we have six words sentence</p>
</div>
</div>
<!-- Page Container -->
<div class="w3-stretch" >
  <div class="w3-container w3-center  w3-padding-top-32 w3-margin-bottom">
          <p class="w3-xlarge w3-text-grey w3-padding-16"><b> Our daily work</b></p>
          <p>Some written paragraph about our metodology and contributions, domain of interest and more...</p>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top"
             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top"
             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top"
             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

  </div>

  <div class="w3-container w3-center w3-white">
    <img src="assets/images/Three_Orient_Image.jpg">
  </div>

      <div class="w3-container w3-center w3-white">
        <h2 id="education" class="w3-text-grey w3-padding-16">Watch me on media</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Domain1</b></h5>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Domain2</b></h5>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste..</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Goals</b></h5>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p><br>
        </div>
      </div>

      <div class="w3-center w3-black">
        <h2 class="w3-text-white w3-padding-16"><i class="fa  fa-briefcase w3-margin-right w3-xxlarge w3-text-white"></i>Open Positions</h2>
        <div class="w3-container">
          <a style="color: blue" href="#">
            <p>Laboratory Manager</p>
          </a>
          <hr>
        </div>
        <div class="w3-container">
          <a style="color: blue" href="#">
            <p>MSc. Student</p>
          </a>
          <hr>
        </div>
        <div class="w3-container">
          <a style="color: blue" href="#">
            <p>Research Assistant</p>
          </a>
        </div>
      </div>
    </div>



<footer class="w3-container w3-black w3-center w3-margin-top">
  <p>Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>

</body>
</html>

