<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<nav class="navbar navbar-expand-xl fixed-top">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul id="menu" class="navbar-nav">
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Home</a></li>
      <li class="nav-item"><a  class="nav-link js-scroll-trigger" href="#experience">Research</a></li>
      <li class="nav-item"><a  class="nav-link js-scroll-trigger" href="#education">Publications</a></li>
      <li class="nav-item"><a  class="nav-link js-scroll-trigger" href="#skills">The Team</a></li>
      <li class="nav-item"><a  class="nav-link js-scroll-trigger" href="#interests">Open Positions</a></li>
      <li class="nav-item"><a  class="nav-link js-scroll-trigger" href="#awards">Contact Us</a></li>

    </ul>
  </div>
  <div class="nav-item"><a href="#" class="img-circle">
    <img class="brand" src="assets/images/tau.jpg">
  </a></div>
</nav>

<body class="w3-light-grey">
<h1 id="labNameOver">OPLAB</h1>
<h3 id="labNameOver1">Lorem ipsum dulor en el porque</h3>

<div class="w3-container" style="background-color: black">
<img src="assets/images/Croped_Brain_3D_Width_4_to_1_Height.jpg" style="position: center; padding-top: 10%; width: 100%; height: 40%;" alt="Avatar">
</div>
<!-- Page Container -->
<div class="w3-stretch" >


  <div class="w3-container w3-center w3-light-gray w3-padding-top-32 w3-margin-bottom">
          <p class="w3-xlarge w3-text-grey w3-padding-16"><b> Our daily work</b></p>
          <p>Some written paragraph about our metodology and contributions, domain of interest and more...</p>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top"
             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top"
             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top"
             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

  </div>

  <div class="w3-container w3-center w3-white">
    <img src="assets/images/Three_Orient_Image.jpg">
  </div>

      <div class="w3-container w3-center w3-white">
        <h2 id="education" class="w3-text-grey w3-padding-16">Watch me on media</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Domain1</b></h5>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Domain2</b></h5>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste..</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Goals</b></h5>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p><br>
        </div>
      </div>

      <div class="w3-center w3-light-gray">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa  fa-briefcase w3-margin-right w3-xxlarge w3-text-black"></i>Open Positions</h2>
        <div class="w3-container">
          <a style="color: blue" href="#">
            <p>Laboratory Manager</p>
          </a>
          <hr>
        </div>
        <div class="w3-container">
          <a style="color: blue" href="#">
            <p>MSc. Student</p>
          </a>
          <hr>
        </div>
        <div class="w3-container">
          <a style="color: blue" href="#">
            <p>Research Assistant</p>
          </a>
        </div>
      </div>
    </div>



<footer class="w3-container w3-black w3-center w3-margin-top">
  <p>Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>

</body>
</html>

