<body>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<div class="w3-stretch" >
  <div class="w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
    <p class="w3-xlarge w3-text-grey w3-padding-16"><b> Publications </b></p>
    <p> See our publications in the top magazines </p>
  </div>
</div>

<div id="container">

  <div class="product-image">
    <img src="assets/images/mrm.jpg" alt="">
    <div class="info">
      <!--      <h2> Details </h2>-->
<!--      -->
      <br>
      <ul>
        <li><strong>Magazine: </strong>Physics in Medicine & Biology</li>
        <li><strong>Authors : </strong>Or Perlman, Iris S Weitz, Haim Azhari</li>
        <li><strong>Published on : </strong>2015/7/10</li>
      </ul>
    </div>
  </div>
  <div class="product-details">
    <h1>Physics in Medicine & Biology</h1>
    <br>
    <p class="information">Copper oxide nanoparticles as contrast agents for MRI and ultrasound dual-modality imaging</p>
  </div>

</div>

</body>
