<body>
<div class="container">

<div class="w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <p style="color: black; padding-top: 12%" class="w3-xlarge w3-text-grey"><b> Publications </b></p>
  <p style="color: black"> See our publications at the top magazines </p>
</div>
<!--here publications starts-->
<div class="row">
  <a href="https://iopscience.iop.org/article/10.1088/0031-9155/60/15/5767/meta">
  <div class="card mb-3">
    <div class="row" style="height: 100%; width: 100%">
      <div class="col-md-2">
        <img style="height: 100%; width: 100%;"
             src="assets/images/scientificReports.png"
             alt="Magnetic Resonance in Medicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h6 style="color: dimgray" class="card-title">Madeleine Benguigui, Iris S Weitz, Michael Timaner, Tal Kan, Dvir Shechter, Or Perlman, Sarit Sivan, Ziv Raviv, Haim Azhari, Yuval Shaked</h6>
          <p class="card-text">
            Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells
          </p>
          <p class="card-text">
            <small class="text-muted">2019/8/30</small>
          </p>
        </div>
      </div>

    </div>
  </div>
  </a>
</div>
<br>
<!--2nd line of publications-->
<div class="row" >
  <a href="https://ieeexplore.ieee.org/abstract/document/7274639">
  <div class="card mb-3">
    <div class="row g-0" style="height: 100%; width: 100%">
      <div class="col-md-2">
        <img style="height: 100%; width: 100%;"
             src="assets/images/ieeejbhi.png"
             alt="Magnetic Resonance in Medicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Guy Amit, Yaniv Zigel</h6>
          <p class="card-text">
            Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme
          </p>
          <p class="card-text">
            <small class="text-muted">2015/9/23</small>
          </p>
        </div>
      </div>

    </div>
  </div>
  </a>
</div>
  <br>
  <!--3rd line of publications-->
  <div class="row">
    <a href="https://ieeexplore.ieee.org/abstract/document/6675778">
    <div class="card mb-3">
      <div class="row " style="height: 100%; width: 100%;">
        <div class="col-md-2">
          <img style="height: 250px; width: 500px;"
               src="assets/images/ieeeTransaction.jpg"
               alt="Magnetic Resonance in Medicine"
               class="img-fluid "
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Noam Weissman, Guy Amit, Yaniv Zigel</h6>
            <p class="card-text">
              Atrial electrical activity detection using linear combination of 12-lead ECG signals
            </p>
            <p class="card-text">
              <small class="text-muted">2013/11/26</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
  <br>
<!--4DUPLICATES-->
  <div class="row">
    <a href="https://iopscience.iop.org/article/10.1088/0031-9155/60/15/5767/meta">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%"
                 src="assets/images/scientificReports.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Madeleine Benguigui, Iris S Weitz, Michael Timaner, Tal Kan, Dvir Shechter, Or Perlman, Sarit Sivan, Ziv Raviv, Haim Azhari, Yuval Shaked</h6>
              <p class="card-text">
                Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells
              </p>
              <p class="card-text">
                <small class="text-muted">2019/8/30</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--5nd line of publications-->
  <div class="row" >
    <a href="https://ieeexplore.ieee.org/abstract/document/7274639">
      <div class="card mb-3">
        <div class="row g-0" style="height: 100%; width: 100%">
          <div class="col-md-2" >
            <img style="height: 100%; width: 100%;"
                 src="assets/images/ieeejbhi.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme
              </p>
              <p class="card-text">
                <small class="text-muted">2015/9/23</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--6rd line of publications-->
  <div class="row">
    <a href="https://ieeexplore.ieee.org/abstract/document/6675778">
      <div class="card mb-3">
        <div class="row " style="height: 100%; width: 100%;">
          <div class="col-md-2">
            <img style="height: 250px; width: 500px;"
                 src="assets/images/ieeeTransaction.jpg"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid "
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Noam Weissman, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Atrial electrical activity detection using linear combination of 12-lead ECG signals
              </p>
              <p class="card-text">
                <small class="text-muted">2013/11/26</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
<!--  7-->
  <div class="row">
    <a href="https://iopscience.iop.org/article/10.1088/0031-9155/60/15/5767/meta">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%"
                 src="assets/images/scientificReports.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Madeleine Benguigui, Iris S Weitz, Michael Timaner, Tal Kan, Dvir Shechter, Or Perlman, Sarit Sivan, Ziv Raviv, Haim Azhari, Yuval Shaked</h6>
              <p class="card-text">
                Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells
              </p>
              <p class="card-text">
                <small class="text-muted">2019/8/30</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--8nd line of publications-->
  <div class="row" >
    <a href="https://ieeexplore.ieee.org/abstract/document/7274639">
      <div class="card mb-3">
        <div class="row g-0" style="height: 100%; width: 100%">
          <div class="col-md-2" >
            <img style="height: 100%; width: 100%;"
                 src="assets/images/ieeejbhi.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme
              </p>
              <p class="card-text">
                <small class="text-muted">2015/9/23</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--9rd line of publications-->
  <div class="row">
    <a href="https://ieeexplore.ieee.org/abstract/document/6675778">
      <div class="card mb-3">
        <div class="row " style="height: 100%; width: 100%;">
          <div class="col-md-2">
            <img style="height: 250px; width: 500px;"
                 src="assets/images/ieeeTransaction.jpg"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid "
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Noam Weissman, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Atrial electrical activity detection using linear combination of 12-lead ECG signals
              </p>
              <p class="card-text">
                <small class="text-muted">2013/11/26</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
<!--  10-->
  <div class="row">
    <a href="https://iopscience.iop.org/article/10.1088/0031-9155/60/15/5767/meta">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%"
                 src="assets/images/scientificReports.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Madeleine Benguigui, Iris S Weitz, Michael Timaner, Tal Kan, Dvir Shechter, Or Perlman, Sarit Sivan, Ziv Raviv, Haim Azhari, Yuval Shaked</h6>
              <p class="card-text">
                Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells
              </p>
              <p class="card-text">
                <small class="text-muted">2019/8/30</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--11nd line of publications-->
  <div class="row" >
    <a href="https://ieeexplore.ieee.org/abstract/document/7274639">
      <div class="card mb-3">
        <div class="row g-0" style="height: 100%; width: 100%">
          <div class="col-md-2" >
            <img style="height: 100%; width: 100%;"
                 src="assets/images/ieeejbhi.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme
              </p>
              <p class="card-text">
                <small class="text-muted">2015/9/23</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--12rd line of publications-->
  <div class="row">
    <a href="https://ieeexplore.ieee.org/abstract/document/6675778">
      <div class="card mb-3">
        <div class="row " style="height: 100%; width: 100%;">
          <div class="col-md-2">
            <img style="height: 250px; width: 500px;"
                 src="assets/images/ieeeTransaction.jpg"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid "
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Noam Weissman, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Atrial electrical activity detection using linear combination of 12-lead ECG signals
              </p>
              <p class="card-text">
                <small class="text-muted">2013/11/26</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
<!--  13-->
  <div class="row">
    <a href="https://iopscience.iop.org/article/10.1088/0031-9155/60/15/5767/meta">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%"
                 src="assets/images/scientificReports.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Madeleine Benguigui, Iris S Weitz, Michael Timaner, Tal Kan, Dvir Shechter, Or Perlman, Sarit Sivan, Ziv Raviv, Haim Azhari, Yuval Shaked</h6>
              <p class="card-text">
                Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells
              </p>
              <p class="card-text">
                <small class="text-muted">2019/8/30</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <!--14nd line of publications-->
  <div class="row" >
    <a href="https://ieeexplore.ieee.org/abstract/document/7274639">
      <div class="card mb-3">
        <div class="row g-0" style="height: 100%; width: 100%">
          <div class="col-md-2" >
            <img style="height: 100%; width: 100%;"
                 src="assets/images/ieeejbhi.png"
                 alt="Magnetic Resonance in Medicine"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Guy Amit, Yaniv Zigel</h6>
              <p class="card-text">
                Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme
              </p>
              <p class="card-text">
                <small class="text-muted">2015/9/23</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
<!---->
</div>


</body>
