<body>
<div class="container">

<div class="w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <p style="color: white" class="w3-xlarge w3-text-grey w3-padding-16"><b> Publications </b></p>
  <p style="color: white"> See our publications at the top magazines </p>
</div>
<!--here publications starts-->
<div class="row">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0" style="height: 100%; width: 100%">
      <div class="col-md-4">
        <img style="height: 100%; width: 100%"
             src="assets/images/scientificReports.png"
             alt="Magnetic Resonance in Medicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 style="color: dimgray" class="card-title">Madeleine Benguigui, Iris S Weitz, Michael Timaner, Tal Kan, Dvir Shechter, Or Perlman, Sarit Sivan, Ziv Raviv, Haim Azhari, Yuval Shaked</h6>
          <p class="card-text">
            Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells
          </p>
          <p class="card-text">
            <small class="text-muted">2019/8/30</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0" style="height: 100%; width: 100%">
      <div class="col-md-4">
        <img style="height: 100%; width: 100%"
             src="assets/images/ipem.jpg"
             alt="Magnetic Resonance in Medicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 style="color: dimgray" class="card-title">Or Perlman, Iris S Weitz, Haim Azhari</h6>
          <p class="card-text">
            Copper oxide nanoparticles as contrast agents for MRI and ultrasound dual-modality imaging
          </p>
          <p class="card-text">
            <small class="text-muted">2015/7/10</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--2nd line of publications-->
<div class="row" style="">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0" style="height: 100%; width: 100%">
      <div class="col-md-4" >
        <img style="height: 100%; width: 100%;"
             src="assets/images/ieeejbhi.png"
             alt="Magnetic Resonance in Medicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Guy Amit, Yaniv Zigel</h6>
          <p class="card-text">
            Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme
          </p>
          <p class="card-text">
            <small class="text-muted">2015/9/23</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0" style="height: 100%; width: 100%">
      <div class="col-md-4">
        <img style="height: 100%; width: 100%"
             src="assets/images/mrm2.jpeg"
             alt="Magnetic Resonance in Medicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 style="color: dimgray" class="card-title">Or Perlman, Kai Herz, Moritz Zaiss, Ouri Cohen, Matthew S Rosen, Christian T Farrar</h6>
          <p class="card-text">
            CEST MR‐Fingerprinting: Practical considerations and insights for acquisition schedule design and improved reconstruction
          </p>
          <p class="card-text">
            <small class="text-muted">2020/2</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <!--3rd line of publications-->
  <div class="row" style="">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0" style="height: 100%; width: 100%">
        <div class="col-md-4">
          <img style="height: 100%; width: 100%;"
               src="assets/images/ieeeTransaction.jpg"
               alt="Magnetic Resonance in Medicine"
               class="img-fluid "
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 style="color: dimgray" class="card-title">Or Perlman, Amos Katz, Noam Weissman, Guy Amit, Yaniv Zigel</h6>
            <p class="card-text">
              Atrial electrical activity detection using linear combination of 12-lead ECG signals
            </p>
            <p class="card-text">
              <small class="text-muted">2013/11/26</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0" style="height: 100%; width: 100%">
        <div class="col-md-4">
          <img style="height: 100%; width: 100%"
               src="assets/images/physicsInMed.jpeg"
               alt="Magnetic Resonance in Medicine"
               class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 style="color: dimgray" class="card-title">Or Perlman, Haim Azhari</h6>
            <p class="card-text">
              Ultrasonic computed tomography imaging of iron oxide nanoparticles
            </p>
            <p class="card-text">
              <small class="text-muted">2017/1/10</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>



</div>


</body>
